* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.PasswordManager-Container {
  min-height: 100vh;
  padding: 20px 40px;
  background-image: linear-gradient(to bottom, #9ba9eb, #c3caea);
}
.sub-password-Container {
  margin-top: 20px;
  background-color: #5763a5;
  padding: 8px 10px;
}
.logo-img {
  height: 30px;
}

.password-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.heading-p {
  color: white;
  font-size: 20px;
  margin-right: 10px;
}
.counter {
  border-radius: 34px;
  border-style: solid;
  border-width: 1px;
  padding: 0px 10px;
  border-color: white;
  color: white;
}
.password-heading {
  display: flex;
  align-items: center;
}

.search-icon {
  height: 20px;
}

.searchBar {
  height: 30px;
}

.search-input {
  padding: 0px 65px;
}

.no-Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
