.main-container {
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  background-size: cover;
}
.img-game-select {
  width: 40vw;
  margin-top: 20px;
}
.select-list {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 767px) {
  .img-game-select {
    width: 70vw;
  }
}
.selectedclass {
  background-color: transparent;
  padding: 5px 13px;
  border-color: #fec653;
  font-size: 20px;
  color: #fec653;
  border-top: none;
  border-left: none;
  border-right: none;
}

.unselectedclass {
  color: white;
  padding: 5px 13px;
  background-color: transparent;
  border-style: none;
}
